mixin admin_body(building, entries)
    h4 Building: #{building.buildingId}
    p
        strong Address:&nbsp;
        | #{building.address}
    p
        strong Description:&nbsp;
        | #{building.description}
    br
    h5 Building Entries
    table.myTable.display(cellspacing='0', width='100%')
        thead
            tr
                th Date
                th Home
                th Guest Of
                th Allowed
                th image
        tbody
            for entry in entries
                tr
                    td #{entry.time}
                    td #{entry.homeEntered}
                    td #{entry.firstName} #{entry.lastName}
                    td #{entry.authorized}
                    td
                        a(href="#{entry.faceUrl}") View


mixin home_body(homeId, residents)
    h5 Residents of #{homeId}
    table.myTable.display(cellspacing='0', width='100%')
        thead
            tr
                th Name
                th Username
                th Email
                th Phone
                th Is Default?
                th remove
        tbody
            for resident in residents
                if(resident.residentId)
                    tr
                        td #{resident.firstName} #{resident.lastName}
                        td #{resident.userName}
                        td #{resident.email}
                        td #{resident.phoneNumber}
                        td #{resident.defaultResident === resident.residentId}
                        td 
                            button.deleteResidentButton.btn-link(id='deleteResidentFromApt_'+resident.residentId+'_'+homeId,type='button', style='color:red') delete
    br
    br  
    button.nav-link(class='btn btn-link', data-toggle="modal", data-target="#newResidentModal")
       i.fa.fa-plus &nbsp;
        | Add Resident                      


mixin newHomeModal()
    // Modal
    #newHomeModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='homeModalTitle', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#homeModalTitle.modal-title Add A new Home
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    form#newHomeForm
                        .form-group.hidden
                            input#BuildingId.form-control(type='text',value = 'building1' ,hidden)
                        .form-group
                            label(for='HomeNumber') Home Number
                            input#HomeNumber.form-control(type='number', placeholder='Example: 4')

                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#submitNewHomeButton.btn.btn-primary(type='button') Create Home

mixin newResidentModal()
    // Modal
    #newResidentModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='residentModalTitle', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#residentModalTitle.modal-title Add A new Resident
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    form#newResidentForm
                        .form-group.hidden
                            input#BuildingId.form-control(type='text',value = 'building1' ,hidden)
                        .form-group
                            label(for='HomeNumber') Home Number
                            input#HomeNumber.form-control(type='number', placeholder='Example: 4')
                        .form-group
                            label(for='FirstName') First Name
                            input#FirstName.form-control(type='text', placeholder='Example: Moshe')  
                        .form-group
                            label(for='LastName') Last Name
                            input#LastName.form-control(type='text', placeholder='Example: Moshe')    
                        .form-group
                            label(for='user') User Name
                            input#user.form-control(type='text', placeholder='Example: Moshe123')  
                        .form-group
                            label(for='password') Password
                            input#password.form-control(type='text', placeholder='Example: 12345678') 
                        .form-group
                            label(for='phone') Phone Number
                            input#phone.form-control(type='text', placeholder='Example: 0545678904')
                        .form-group
                            label(for='email') Email Adress
                            input#email.form-control(type='text', placeholder='Example: moshe@gmailcom')
                        .form-group
                            label(for='imageUrl') Image Url
                            input#imageUrl.form-control(type='text', placeholder='Example: http://residentImageUrl.co.il/')
                        .form-group
                            label(for='isDefault') Default User
                            input#isDefault.form-control(type='number', placeholder='Example: 0 or 1')         

                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button.submitNewResidentButton.btn.btn-primary(type='button') Create Resident
    