mixin resident_body(resident)
    h4 Welcome, #{resident.info.firstName} #{resident.info.lastName}
    p Home: #{resident.info.homeId}
    h5 Faces
    .img-well(id='images_'+resident.info.residentId)
        for face in resident.faces
            img.rounded.float-left(data-src='holder.js/200x200', alt='200x200', src=face.url, data-holder-rendered='true', style='width: 200px; height: 200px;')
    form.uploadImage(id='upload_'+resident.info.residentId, style="margin-top:20px", enctype="multipart/form-data")
        input(type='text', name='homeId', value=resident.info.homeId ,hidden)
        input(type='text', name='personId', value=resident.info.residentId ,hidden)
        input(type='number', name='isGuest', value=0, hidden)
        .form-row.align-items-center
            .col-sm-3
                .form-group
                    label(for='FaceInput') Add Faces:
                    input#FaceInput.form-control-file(type='file', name='image')
            .col-auto
                button.uploadButton.btn.btn-sm.btn-primary(type='submit', disabled='') Upload

    br
    br



mixin guest_body(guest)
    h4 Guest: #{guest.info.firstName} #{guest.info.lastName}
    p.hiddenParagraph(id="guestFirstName_"+guest.info.guestId) #{guest.info.firstName}
    p.hiddenParagraph(id="guestLastName_"+guest.info.guestId) #{guest.info.lastName}
    p description: My friend
    button.btn-link.deleteGuest(id=guest.info.guestId, href="#", style="color:red;") delete guest
    br
    br
    h5 Faces
    .img-well(id="images_" + guest.info.guestId)
        for face in guest.faces
            img.rounded.float-left(alt='unable to show image', src=face.url, data-holder-rendered='true', style='width: 200px; height: 200px;')

    form.uploadImage(id="upload_" + guest.info.guestId, style="margin-top:20px", enctype="multipart/form-data")
        input(type='text', name='homeId', value=resident.info.homeId ,hidden)
        input(type='text', name='personId', value=guest.info.guestId ,hidden)
        input(type='number', name='isGuest', value=1, hidden)
        .form-row.align-items-center
            .col-sm-3
                .form-group
                    label(for='FaceInput') Add Faces:
                    input#FaceInput.form-control-file(type='file', name='image')
            .col-auto
                button.uploadButton.btn.btn-sm.btn-primary(type='submit',disabled='') Upload


mixin guestModal(resident)
    // Modal
    #newGuestModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='guestModalTitle', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#guestModalTitle.modal-title Add A new Guest
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    form#newGuestForm(enctype="multipart/form-data")

                        .form-group.hidden
                            input#residentFirstName.form-control(type='text',value = '#{resident.firstName}' ,hidden)
                        .form-group.hidden
                            input#residentLastName.form-control(type='text',value = '#{resident.lastName}' ,hidden)
                        .form-group.hidden
                            input#buildingId.form-control(type='text',value = '#{resident.buildingId}' ,hidden)
                        .form-group.hidden
                            input#aptNumber.form-control(type='number',value = '#{resident.aptNumber}' ,hidden)

                        .form-group
                            label(for='guestFirstName') First Name
                            input#guestFirstName.form-control(type='text', placeholder='Example: John')
                        .form-group
                            label(for='guestLastName') Last Name
                            input#guestLastName.form-control(type='text', placeholder='Example: Snow')
                        .form-group
                            label(for='FaceInput') Face:
                            input#FaceInput.form-control-file(type='file', name='newImage')

                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#submitNewGuestButton.uploadButton.btn.btn-primary(type='button', disabled='') Create Guest

